bin/
obj/
*.user
*.suo
.vs/
*.DotSettings.user
artifacts/
BenchmarkDotNet.Artifacts/
TestResults/
nupkgs/
dist/
nul
.claude/
secrets/
published/
Certificates/
.sharc/


# 3rdparty build artifacts (db rebuild infra [rust] + build output)
3rdparty/surrealdb/src/
3rdparty/surrealdb/out/
3rdparty/surrealdb/node_modules/

# 3rdparty build artifacts (db rebuild infra [C/C++] + build output)
3rdParty/arangodb/src
3rdParty/arangodb/out

.sharc/
